/CapaNegocio/nbproject/private/
/CapaModelo/nbproject/private/
/CapaCliente/nbproject/private/
/ProyectoCliente/nbproject/private/
/Servidor/nbproject/private/
/CapaCliente/dist/
/CapaCliente/build/
/ProyectoCliente/build/
/Servidor/build/
/CapaNegocio/dist/
/CapaNegocio/build/
/CapaModelo/dist/
/CapaModelo/build/
/Servidor/dist/
/CapaEntidades/nbproject/private/
/CapaEntidades/dist/
/CapaEntidades/build/